*{


	margin: 0;
	padding: 0 ;
}

.container{

	height: 100vh; 
	width: 100%;
	background-image: url(../images/Font.png);
	background-position: center;
	background-size: cover;
	padding-left: 5%;
	padding-right: 5%;
	box-sizing: border-box;
	position: relative;
}

.navbar{

	width: 100%;
	height: 15vh;
	margin: auto;
	display: flex;
	align-items: center;
}


















ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(39, 39, 39, 0.1);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);
  border-radius: 25px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Pavelt, Arial-Rounded;
}

/* Change the link color to #111 (black) on hover */

/*li a:hover{

	text-transform: uppercase;

}*/

ul:hover{

	box-shadow: 0 0 30px #FF8B00;
	

}

li a:hover {

	color: #FF8B00;
}

